*{ 
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding: 2em;
    text-align: center;
    background-color: rgb(255, 0, 0);
}

h1{
    color: #112233;
    font-size: 2em;
}

legend{
    font-size: 1.2em;
    font-weight: 700;
    color: brown;
}

input{
    margin: 1em;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 1em;
    border: 2px solid black;
}

button{
    padding: 0.5em;
    font-size: 1em;
    margin: 0.5em;
    width: 10%;
    border-radius: 1em;
    border: none;
    color: #ffffff;
    background-color: #1a1a1a;
    cursor: pointer;
}


