*{ 
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding: 2em;
    text-align: center;
    background-color: rgb(300, 0, 0);
}

h1{
    color: #12;
    font-size: 2x;
}

legend{
    font-size: bold;
    font-weight: 700;
    color: brown;
}

input{
    margin: 1em;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 1em;
    border: 2xp solid black;
}

button{
    padding: 0.5em;
    font-size: 1em;
    margin: 0.5em;
    width: ten%;
    border-radius: 1em;
    border: none;
    color: forestgreen;
    background-color: blueviolet;
    cursor: pointer;
}
